@import "compass/css3";

$green:  #12837b;
$yellow: #e0cb0f;
$dark:   #111111;
$dark50: #515151;
$light:  #e5e5e5;
$blue:   #1e88bf;

.text-blue{
	color:$blue;
}
.text-green {
	color:$green;
}
.bg-green {
	background-color:#12837b;
}
.bg-dark-50 {
	background-color:#ccc;
}
body {	
	font-family:'Helvetica LT Std', sans-serif;	
	&.home {
		background:#303030 url(../images/bg/bg.png) no-repeat center;
		background-size:cover;
		min-height:100vh;	
	}
	&.pb-5 {
		background:url(../images/icons/msd-logo.png) no-repeat left bottom; 
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family:'Helvetica LT Std Bold', sans-serif;
}
.bg-dark {
	background-color:$dark !important;
}
.bg-yellow {
	background-color:$yellow !important;	
}
.login-wrap {
	position:absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
	width:100%;
	max-width:470px;
	.bg-login {
		margin:30px auto 20px;
		background:rgba(81,81,81,0.2);	
		padding:30px 40px 20px;
		@include border-radius(10px);
	}
	.form-control {
		line-height:2.15;
		border-color:#fff;	
		@include border-radius(10px);
	}
	.input-group-text {
		background-color:#fff;
		border-color:#fff;
		@include border-radius(10px);
	}
}
.btn-main {
	background-color:$green;
	border-color:$green;
	color:#fff; 
	font-family:'Helvetica LT Std Bold', sans-serif;
	padding:.75rem .75rem;
	@include border-radius(10px);
}
header {
	a {
		text-decoration:none;
		&:hover {
			text-decoration:none;
		}
	}
	ul {
		li {
			&+li {
				margin-left:15px;	
			}
		}
	}
}
.hero {
	background:url(../images/bg/hero.png) no-repeat center;
	padding:75px 0;
}
.table.table-bordered.table-list {
	border:0;
	th {
		border-bottom-width:0px;
		&:last-child {
			border-right-width:1px;	
		}
		&:first-child {
			border-left-width:1px;	
		}
	}
	td {
		vertical-align:middle;	
		border-right: 0;
	}
}
.dataTables_info {
	color:$green;	
}
#reportTable_wrapper>.row>.col-sm-12.col-md-6 {
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	padding:0;	
}
.dataTables_length {
	text-align:right;	
}
.page-item .page-link {
	background:none;
	border:0;
	color:$dark;
	padding: 4px 6px;
	box-shadow:none !important
}
.page-item.active .page-link {
	background:none;
	border:0;
	color:$dark;
	font-weight:700;
}
footer {
	position:relative;
	padding-bottom:40px;	
}
.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}
.select {
	cursor: pointer;
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	font-size: 14px;
	font-weight: 400;
}
.select-styled {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 30px 0 15px;
	border: 1px solid #fff;
	background-color: #fff;
	color: $dark50;
	line-height: 38px;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.form-white .select-styled {
	background-color: #fff;
	color:#262e2f;
}
.form-white .select-styled:hover, .form-white .select-styled.active {
	color:#fff;	
}
.select-styled:after {
	content: '\f0d7';
	position: absolute;
	top: 10px;
	right: 5px;
	width: 18px;
	height: 18px;
	font-family: 'FontAwesome';
	font-size: 14px;
	color: $dark50;
	text-align: center;
	line-height: 14px;
	-webkit-transition: 300ms ease;
	-o-transition: 300ms ease;
	transition: 300ms ease;
}
.select-styled:hover {
	background-color: #fff;
}
.select-styled:active, .select-styled.active {
	background-color: #fff;
}
.select-styled:active:after, .select-styled.active:after {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.select-options {
	display: none;
	position: absolute;
	top: 100%;
	width:200px;
	left: 10px;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff;
	-webkit-box-shadow: 0 0 10px rgba(150, 150, 150, 0.55);
	box-shadow: 0 0 10px rgba(150, 150, 150, 0.55);
	padding:5px;
}
.select-options li {
	margin: 0;
	padding: 8px 8px;
}
.select-options li:hover {
	background: $green;
	color: #fff;
}
.select-options li[rel="hide"] {
	display: none;
}
.select-custom-inverse .select-styled {
	background: #fff;
	color: #000;
}
.select-custom-inverse .select-styled:after {
	border-color: #eef0f2;
	color: #eef0f2;
}
.search-wrap {
	input.form-control {
		padding:1rem .75rem;
		border-right:0;
	}
	.btn-outline-secondary {
		border-color:#ced4da;	
		border-left:0;
	}
}
.card {
	.card-header {
		text-align:center;
		text-transform:uppercase;
		font-size:30px; 
		&.bg-green {
			background-color:$green;	
		}
	}
	.card-body {
		padding-top:2rem;
		color:#515151;
	}
}
