/* line 10, ../sass/screen.scss */
.text-blue {
  color: #1e88bf;
}

/* line 13, ../sass/screen.scss */
.text-green {
  color: #12837b;
}

/* line 16, ../sass/screen.scss */
.bg-green {
  background-color: #12837b;
}

/* line 19, ../sass/screen.scss */
.bg-dark-50 {
  background-color: #ccc;
}

/* line 22, ../sass/screen.scss */
body {
  font-family: 'Helvetica LT Std', sans-serif;
}
/* line 24, ../sass/screen.scss */
body.home {
  background: #303030 url(../images/bg/bg.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
/* line 29, ../sass/screen.scss */
body.pb-5 {
  background: url(../images/icons/msd-logo.png) no-repeat left bottom;
}

/* line 33, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica LT Std Bold', sans-serif;
}

/* line 36, ../sass/screen.scss */
.bg-dark {
  background-color: #111111 !important;
}

/* line 39, ../sass/screen.scss */
.bg-yellow {
  background-color: #e0cb0f !important;
}

/* line 42, ../sass/screen.scss */
.login-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 470px;
}
/* line 49, ../sass/screen.scss */
.login-wrap .bg-login {
  margin: 30px auto 20px;
  background: rgba(81, 81, 81, 0.2);
  padding: 30px 40px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 55, ../sass/screen.scss */
.login-wrap .form-control {
  line-height: 2.15;
  border-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 60, ../sass/screen.scss */
.login-wrap .input-group-text {
  background-color: #fff;
  border-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 66, ../sass/screen.scss */
.btn-main {
  background-color: #12837b;
  border-color: #12837b;
  color: #fff;
  font-family: 'Helvetica LT Std Bold', sans-serif;
  padding: .75rem .75rem;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 75, ../sass/screen.scss */
header a {
  text-decoration: none;
}
/* line 77, ../sass/screen.scss */
header a:hover {
  text-decoration: none;
}
/* line 83, ../sass/screen.scss */
header ul li + li {
  margin-left: 15px;
}

/* line 89, ../sass/screen.scss */
.hero {
  background: url(../images/bg/hero.png) no-repeat center;
  padding: 75px 0;
}

/* line 93, ../sass/screen.scss */
.table.table-bordered.table-list {
  border: 0;
}
/* line 95, ../sass/screen.scss */
.table.table-bordered.table-list th {
  border-bottom-width: 0px;
}
/* line 97, ../sass/screen.scss */
.table.table-bordered.table-list th:last-child {
  border-right-width: 1px;
}
/* line 100, ../sass/screen.scss */
.table.table-bordered.table-list th:first-child {
  border-left-width: 1px;
}
/* line 104, ../sass/screen.scss */
.table.table-bordered.table-list td {
  vertical-align: middle;
  border-right: 0;
}

/* line 109, ../sass/screen.scss */
.dataTables_info {
  color: #12837b;
}

/* line 112, ../sass/screen.scss */
#reportTable_wrapper > .row > .col-sm-12.col-md-6 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
}

/* line 118, ../sass/screen.scss */
.dataTables_length {
  text-align: right;
}

/* line 121, ../sass/screen.scss */
.page-item .page-link {
  background: none;
  border: 0;
  color: #111111;
  padding: 4px 6px;
  box-shadow: none !important;
}

/* line 128, ../sass/screen.scss */
.page-item.active .page-link {
  background: none;
  border: 0;
  color: #111111;
  font-weight: 700;
}

/* line 134, ../sass/screen.scss */
footer {
  position: relative;
  padding-bottom: 40px;
}

/* line 138, ../sass/screen.scss */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

/* line 143, ../sass/screen.scss */
.select {
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
}

/* line 152, ../sass/screen.scss */
.select-styled {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 30px 0 15px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #515151;
  line-height: 38px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 168, ../sass/screen.scss */
.form-white .select-styled {
  background-color: #fff;
  color: #262e2f;
}

/* line 172, ../sass/screen.scss */
.form-white .select-styled:hover, .form-white .select-styled.active {
  color: #fff;
}

/* line 175, ../sass/screen.scss */
.select-styled:after {
  content: '\f0d7';
  position: absolute;
  top: 10px;
  right: 5px;
  width: 18px;
  height: 18px;
  font-family: 'FontAwesome';
  font-size: 14px;
  color: #515151;
  text-align: center;
  line-height: 14px;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}

/* line 191, ../sass/screen.scss */
.select-styled:hover {
  background-color: #fff;
}

/* line 194, ../sass/screen.scss */
.select-styled:active, .select-styled.active {
  background-color: #fff;
}

/* line 197, ../sass/screen.scss */
.select-styled:active:after, .select-styled.active:after {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

/* line 202, ../sass/screen.scss */
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  width: 200px;
  left: 10px;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(150, 150, 150, 0.55);
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.55);
  padding: 5px;
}

/* line 217, ../sass/screen.scss */
.select-options li {
  margin: 0;
  padding: 8px 8px;
}

/* line 221, ../sass/screen.scss */
.select-options li:hover {
  background: #12837b;
  color: #fff;
}

/* line 225, ../sass/screen.scss */
.select-options li[rel="hide"] {
  display: none;
}

/* line 228, ../sass/screen.scss */
.select-custom-inverse .select-styled {
  background: #fff;
  color: #000;
}

/* line 232, ../sass/screen.scss */
.select-custom-inverse .select-styled:after {
  border-color: #eef0f2;
  color: #eef0f2;
}

/* line 237, ../sass/screen.scss */
.search-wrap input.form-control {
  padding: 1rem .75rem;
  border-right: 0;
}
/* line 241, ../sass/screen.scss */
.search-wrap .btn-outline-secondary {
  border-color: #ced4da;
  border-left: 0;
}

/* line 247, ../sass/screen.scss */
.card .card-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
/* line 251, ../sass/screen.scss */
.card .card-header.bg-green {
  background-color: #12837b;
}
/* line 255, ../sass/screen.scss */
.card .card-body {
  padding-top: 2rem;
  color: #515151;
}
